{% extends 'layout.html' %}

{% block title %}
    Flappy Bird Clone
{% endblock %}

{% block head %}
<style type="text/css">
    .js-page {
        width: 70%;
        margin: auto;
        position: relative;
    }

    .game-container {
        width: 500px;
        height: 730px;
        position: absolute;
        left: 80px;
        font-size: 200px;
        font-weight: bold;
    }

    .borderLeft {
        width: 80px;
        height: 790px;
        position: absolute;
        background-color: #f2edda;
        z-index: 2;
    }

    .borderTop {
        width: 660px;
        height: 50px;
        position: absolute;
        background-color: #f2edda;
        z-index: 2;
        top: -50px;
    }

    .borderRight {
        width: 80px;
        height: 790px;
        position: absolute;
        background-color: #f2edda;
        z-index: 2;
        left: 580px;
    }

    .sky {
        background-color: lightblue;
        width: 500px;
        height: 580px;
        position: absolute;
    }

    .ground {
        background-color: brown;
        width: 500px;
        height: 150px;
        position: absolute;
        top: 580px;
        z-index: 1;
    }

    .bird {
        background-color: yellow;
        position: absolute;
        width: 60px;
        height: 45px;
    }

    .pipe {
        background-color: green;
        width: 60px;
        height: 300px;
        position: absolute;
    }

    .topPipe {
        background-color: green;
        width: 60px;
        height: 300px;
        position: absolute;
    }
</style>
{% endblock %}

{% block main %}
<div class="js-page">
<div class="borderLeft"></div>
<div class="game-container">
<div class="borderTop"></div>
    <div class="sky">
        <div class="bird"></div>
    </div>
    <div class="ground"></div>
</div>
<div class="borderRight"></div>

</div>
<script src="/static/scripts/js/flappyBird.js" charset="utf-8"></script>
{% endblock %}