{% extends 'layout.html' %}

{% block title %}
  Oops, that's missing
{% endblock %}

{% block main %}
  <div class="err-page">
    <h1>Page Not Found</h1>
    <p>This is just like No Game No Life season 2, can't find it anywhere.</p>
    <p>You may want to go to the <a href="/">Home Page</a> or go back to your <a href="javascript:history.back()">previous page</a>.</p>
    <img class="err-img" src="/static/images/404ngnl.jpg" alt="No Game No Life totally deserves a second season" />
  </div>
{% endblock %}