{% extends 'layout.html' %}

{% block title %}
  Javascript Projects
{% endblock %}

{% block main %}
  <h1>Javascript Projects</h1>
  <p>Here are some examples of the Javascript projects that I've done. They are mostly games, but they do show off some of what I'm capable.</p>
  <div class="quiz-list">
  {% for pro in data %}
    <a href="/js-pro/{{ pro["title"] }}">
      <div class="quiz-card">
        <img class="quiz-card-img" src="{{ pro["img"] }}" alt="{{ pro["imgAlt"] }}" />
        <h3>{{ pro["title"] }}</h3>
        <p>{{ pro["desc"] }}</p>
      </div>
    </a>
  {% endfor %}
  </div>
{% endblock %}